@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(-45deg, #ef4444, #ffffff, #ff1818, #fee2e2) !important;
  background-size: 400% 400% !important;
  animation: gradientMove 3s ease infinite !important;
  color: #1e293b;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}